<app-header></app-header>
<div>
  <h1 i18n="header">Book Search</h1>



  <p>{{date | date }}</p>
  <p>{{ 1234567890.232 | number }}</p>


  <div class="row">
    <div class="input-field col s12">
      <input i18n-placeholder="input placeholder"
             [(ngModel)]="query"
             placeholder="Type to search..."
             type="text"
            >
    </div>
    <div class="col s12">
      <button class="btn right" (click)="search()" i18n>Search</button>
    </div>
  </div>
</div>
<div *ngIf="books.length > 0">
  <table>
    <thead>
    <tr>
      <th i18n="@@previewId">Preview</th>
      <th i18n="@@titleId">Title</th>
      <th i18n="@@authorsId">Authors</th>
      <th i18n="@@pageCountId">PageCount</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>
          <img src="{{ book.image }}" class="circle" style="width: 60px; height: 60px;">
        </td>
        <td>
          {{ book.title }}
        </td>
        <td>
          {{ book.authors }}
        </td>
        <td>
          {{ book.pageCount }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
